<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.spse.musclepediav2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musclepediav2">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ActivityAbdominals" ></activity>
        <activity android:name=".Activities.ActivityBiceps" ></activity>
        <activity android:name=".Activities.ActivityCalves" ></activity>
        <activity android:name=".Activities.ActivityChest" ></activity>
        <activity android:name=".Activities.ActivityForearms" ></activity>
        <activity android:name=".Activities.ActivityGlutes" ></activity>
        <activity android:name=".Activities.ActivityHamstrings" ></activity>
        <activity android:name=".Activities.ActivityLats" ></activity>
        <activity android:name=".Activities.ActivityLowerBack" ></activity>
        <activity android:name=".Activities.ActivityQuads" ></activity>
        <activity android:name=".Activities.ActivityShoulders" ></activity>
        <activity android:name=".Activities.ActivityTraps" ></activity>
        <activity android:name=".Activities.ActivityTriceps" ></activity>
        <activity android:name=".Activities.ActivityUpperBack" ></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>